body {
  .details-wrapper,
  .wrapper {
    width: 90%;
    margin: 0 auto 2rem auto;

    header {
      h1 {
        margin: 1rem auto;
        text-align: center;
        font-family: "Titan One", cursive;
      }
    }

    .search-container {
      width: 30%;
      padding-bottom: 1rem;
      float: right;

      .search-input {
        padding: 10px;
        font-size: 17px;
        border: 1px #ddd solid;
        float: left;
        width: 75%;
        background: #ffffff;
      }

      .search-btn {
        float: left;
        width: 25%;
        padding: 10px;
        background: rgb(2, 110, 165);
        color: white;
        font-size: 17px;
        border: 1px #ddd solid;
        border-left: none;
        cursor: pointer;
        // letter-spacing: 2px;
      }
    }

    .button-container {
      margin: 0;
      float: left;
      padding: 1rem 0 2rem 0;

      a,
      button {
        float: left;
        border: 1px rgb(2, 94, 139);
        background: rgb(2, 110, 165);
        padding: 8px 10px;
        color: white;
        letter-spacing: 2px;
        transition: all;

        &:hover {
          background: rgb(6, 77, 112);
          transition-duration: 0.3s;
        }
      }
    }
  }

  table {
    background-color: $table-background-color;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;

    thead {
      margin-bottom: 10px;

      tr {
        &:last-child {
          th {
            color: $table-header-color;
            font-weight: normal;
            background-color: $table-header-background-color;
            border-bottom: solid 2px #d8d8d8;
            position: sticky;
            top: 0;
            padding: 8px 0;
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: #f2f2f2;
        }

        td {
          text-align: center;
          padding: 5px 0;
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
        }

        .button-small {
          border: none;
          background: rgb(2, 110, 165);
          color: white;
          text-decoration: none;
          padding: 3px 5px;
          font-size: 12px;
          transition: all;

          &:hover {
            background: rgb(6, 77, 112);
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
}
